body{
    padding: 0;
    margin: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    
}
.flixtext{
    overflow: hidden;
    position: absolute;
}
.flix{
    height: 40px;
    font-weight: 500;
}
.loginbox{
    width: 100%;
}
.headerbgimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* position: static;   */
    filter: brightness(30%);
}
.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.511);
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    padding-top: 25px;
    gap: 861px;
}
.navleft{
    background: rgba(0,0,0,0.4);
    /* padding-right: ; */
}
.navright{
    background: rgba(0,0,0,0.4);
    display: flex;
    gap: 12px;
    align-items: center;
    padding-right: 3px;
}
.navright .button1{
    background-color: rgba(19, 18, 18, 0.727);
    font-size: 15px;
    font-weight: 550;
    border: solid rgb(99, 93, 93) 1px;
    border-radius: 5px;
    color: white;
    display: flex;
    gap: 5px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 7px;
    padding-bottom: 5px;
}
.navright .button2{
    font-size: 14px;
    font-weight: 550;
    background-color: red;
    border: solid red 0px;
    border-radius: 4px;
    color: white;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
}
.infocontent{
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    width: 519px;
    top: 226px;
    left: 508px;
}
.headinfocont{
    font-size: 58px;
    padding: 0;
    margin:0;
}
.maincontentp1{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.maincontentp2{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.loginbutton{
    display: flex ;
    gap: 9px;
    position: absolute;
    width: 590px;
    top: 493px;
    left: 472px;
}
.emailbt{
    background-color: rgba(19, 18, 18, 0.727);
    color: rgba(255, 255, 255, 0.799);
    border: solid 1px rgb(98, 98, 98);
    border-radius: 4px;
    text-align:left ;
    font-size: 1rem;
    font-weight: 400;
    width: 385px;
    height: 54px;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 18px; 
}
.getstartbt{
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    height: 54px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
}
/* .curvecontainer{
    border: solid 4px red;
    height: 200px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
} */