body{
    padding: 0;
    margin: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.loginbox{
    position: relative;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/a92a67ee-cd07-46a8-8354-c431a96a97b0/web/IN-en-20251103-TRIFECTA-perspective_8a65e995-9926-414c-83c5-f7cc9af10871_large.jpg");
    height: 1000px;
}
.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.704);
    z-index: 1;
}
.flix{
    height: 40px;
    font-weight: 500;
}
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    padding-top: 33px;
    gap: 122px;
}
.navleft{
    gap: 20px;
}
.navright{
    display: flex;
    gap: 12px;
}
.button1{
    background-color: rgba(19, 18, 18, 0.727);
    font-size: 15px;
    font-weight: 550;
    border: solid rgb(99, 93, 93) 1px;
    border-radius: 5px;
    color: white;
    display: flex    ;
    gap: 5px;
    border-radius: 5px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 7px;
    padding-bottom: 5px;
}
.button2{
    font-size: 15px;
    font-weight: 550;
    background-color: red;
    border: solid red 0px;
    border-radius: 4px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;
}
.infocontent{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-top: 292px;
}
.content{
    color: rgb(255, 255, 255);
    width: 519px;
}
.headinfocont{
    font-size: 60px;
    padding: 0;
    margin:0;
    text-align: center;
}
.maincontentp1{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.maincontentp2{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.loginbutton{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 9px;
}
.emailbt{
    background-color: rgba(19, 18, 18, 0.727);
    color: rgba(255, 255, 255, 0.799);
    border: solid 1px rgb(98, 98, 98);
    border-radius: 4px;
    text-align:left ;
    font-size: 1rem;
    font-weight: 400;
    width: 460px;
    height: 54px;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 18px; 
}
.getstartbt{
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    height: 54px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
}